<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1009978574459-tvlsdsu72ke2sbba5jhj0vkrl2lqni36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009978574459-tvlsdsu72ke2sbba5jhj0vkrl2lqni36</string>
	<key>API_KEY</key>
	<string>AIzaSyBfHmMW37mwIyNS2jr5ysrE_7XURFzkgvI</string>
	<key>GCM_SENDER_ID</key>
	<string>1009978574459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bridgelabz.FundooNotes</string>
	<key>PROJECT_ID</key>
	<string>fundoonotes-18eb3</string>
	<key>STORAGE_BUCKET</key>
	<string>fundoonotes-18eb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009978574459:ios:d70a9419ad36749d</string>
	<key>DATABASE_URL</key>
	<string>https://fundoonotes-18eb3.firebaseio.com</string>
</dict>
</plist>
